body {
	background-color: gainsboro;
}

#main {
 position: fixed;

}
#main ul{

   list-style-type: none;
   margin:-top: 0px;
   margin-bottom:10;
   padding: 0px;
  float: left;
} 
#main ul li{
	width: 280px;
	float: left;
	background-color: grey;
	position: relative;

}

#main li a{

	display: block;
	color: white;
	padding: 8px 10px 8px 10px;
	text-decoration: all;
}

#main li a:hover{

	background-color: #555;
	color: white;
}
.content {
 left:0;
 right:0;
 top:30px;
 background:darkseagreen;
}
img{
	width: 100%
	margin-left: 20%;

}