body {
	background-color: gainsboro;
}
#main h1{
	width:100%
}
#main ul{
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   width: 100%
   background-color #f1f1f1;
} 
#main ul li{
	width: 80px;
	float: left;
	background-color: grey;
}

#main li a{

	display: block;
	color: white;
	padding: 8px 0px 8px 10px;
	text-decoration: none;
}

#main li a:hover{

	background-color: #555;
	color: white;
}

#main img{
	width: 50%
	background-color: grey;
}